/**
 * Main CSS
 */

 /** This is a comment */
body {
  background-color: rgb(164, 99, 184);
  margin: 0;
}

main { 
    min-height: calc(100vh - 76px);
}

.inner-cont {
    padding: 50px 15px;
    text-align: right;
}

header {
  background: rgb(195, 151, 199);
  padding: 5px;
  margin: 10px;
}

footer {
    padding: 5px;
    background-color: rgb(195, 151, 199);
}

