/**
 * Main CSS
 */

/* Import Google Fonts */


body, * {
  font-family: 'ChicagoFLFRegular';
  font-weight: normal;
  font-style: normal;
}

.ascii-art {
  font-family: monospace;
  white-space: pre;
}

img:hover {
  opacity: 0.5;
}

a:hover {color:rgb(112, 170, 170)}

a:active {color:rgb(134, 91, 145)}

table {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}


table, th, td {
  border: 3px solid rgb(189, 108, 152);
  border-style: outset;
  border-spacing: 5px;
  font-size: 16px;
}
th, td {
  background-color:rgb(221, 140, 140);
  text-align: center;
  
}

/** This is a comment */
body {
  background-color: rgb(189, 108, 152);
}

main { 
    min-height: calc(100vh - 84px);
    margin: 20px;
}

.inner-cont {
    padding: 50px 15px;
    text-align: center;
}

header {
  background: rgb(75, 146, 146);
  padding: 5px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 22px;
  font-weight: 900;
  border: 5px solid rgb(75, 146, 146);
  border-style: outset; }

footer {
    padding: 5px;
    background-color:rgb(155, 98, 194);
    font-size: 12px;
}
#fruitleather{ margin-left: 200px;}



/* uh oh mobillleeeee ????? */

@media(max-width: 600px) {
  table{margin:0;border:none}
  header{margin:0}
 
  th {display: none}

  tr {display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: auto !important;}

  img {
    max-width: 100%;
    max-height: 60vh;
  }

  /* Center gallery images */
  .gallery-page img {
    display: block;
    margin: 30px auto;
  }
}

