/**
 * Main CSS
 */

/* Import Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto+Mono:wght@300&display=swap');

body, * {font-family: 'Roboto Mono', monospace; }


.ascii-art {
  font-family: monospace;
  white-space: pre;
}

img:hover {
  opacity: 0.5;
}

a:hover {color:rgb(112, 170, 170)}

a:active {color:rgb(134, 91, 145)}

table, th, td {
  border: 3px solid rgb(189, 108, 152);
  border-style: outset;
  border-spacing: 5px;
  margin-left: 400px;
  margin-top: 50px;
  font-size: 16px;
}
th, td {
  background-color:rgb(221, 140, 140);
  text-align: center;
  
}

/** This is a comment */
body {
  background-color: rgb(189, 108, 152);
}

main { 
    min-height: calc(100vh - 84px);
    margin: 20px;
}

.inner-cont {
    padding: 50px 15px;
    text-align: center;
}

header {
  background: rgb(75, 146, 146);
  padding: 5px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 22px;
  font-weight: 900;
  border: 5px solid rgb(75, 146, 146);
  border-style: outset; }

footer {
    padding: 5px;
    background-color:rgb(155, 98, 194);
    font-size: 12px;
}
#fruitleather{ margin-left: 200px;}
